

.dialogs{
    padding-top: 20px;
    flex-grow: 1;
    border-left: 2px solid #dee0e3;
    border-right: 2px solid #dee0e3;
    display: flex;
}

.contact{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid #000;
    padding-left: 30px;
}
.contact__title{
    font-size: 18px;
}
.contact__list{
    margin-top: 15px;
}




.messages__wrap{
    flex-grow: 1;
}
.message__enter{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.message__text{
    width: 100%;
    border-radius: 10px;
    min-height: 70px;
    display: block;
    padding: 10px;
    resize: none;
}
.messages__btn{
    margin-top: 20px;
}
.message__enter button{
    margin-top: 30px;
    padding: 8px 25px;
    max-width: 100px;
    border-radius: 8px;
    background-color: rgb(50, 144, 252);
    align-self: flex-end;
}