.header {
    background-color: #3b5998;
    height: 50px;
    display: flex;
    align-items: center;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 35px;
    height: 35px;
}

.search {
    width: 500px;
    height: 25px;
    margin-left: 30px;
    padding-left: 20px;
}

.login__wrap span{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}