
.home__content {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
}

.home__left {
    width: 60%;
}

.posts__title {
    font-size: 22px;
    font-weight: 500;
}

.home__posts {
    display: flex;
    flex-direction: column;
}

.home__postText {
    margin-top: 20px;
    padding: 20px 0 0 20px;
    height: 150px;
    resize: none;
}

.home__postBtn {
    margin-top: 20px;
    width: 100px;
    align-self: flex-end;
}