

.home__left {
    width: 60%;
}

.posts__title {
    font-size: 22px;
    font-weight: 500;
}

.new__posts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.send__post {
    margin-top: 20px;
    width: 100px;
    align-self: flex-end;
}